python-decouple
streamlit
python-dotenv
requests
beautifulsoup4
langchain
elevenlabs
urllib3
feedparser
pydub
nltk
bark
openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
